table.SCtable {
	width: 100%;
	border: 1px solid;
	border-spacing: 0 2px;

	thead {
		text-align: center;
		background-image: linear-gradient(transparent 50%, rgba(32, 76, 122, 0.5) 50%);
		background-size: 2px 2px;
	}

	tr {
		&:nth-child(even) {
			// background-color: #102b4559;
			background-image: linear-gradient(transparent 50%, rgba(32, 76, 122, 0.5) 50%);
			background-size: 2px 2px;
		}
		&:hover {
			color: #fff;
			background-image: linear-gradient(transparent 50%, rgba(103, 156, 212, 0.589) 50%);
			background-size: 2px 2px;
		}
	}

	th {
		font-weight: bold;
		height: 2em;
		border-bottom: 1px solid;
	}

	td {
		padding: 2px;
	}
}
