v-row
  v-col
    h1.display-1.mb-2 Game Versions
    v-data-table.elevation-1(
      :headers="headers",
      :items="elements",
      sort-by="release",
      :sort-desc="true",
      :items-per-page="15",
      :height="tableHeight",
      dense
    )
      template(v-slot:body="{ items }")
        tbody
          tr(v-for="item in items", :key="item.id")
            td.mono {{ item.identifier }}
            td {{ item.release | moment('LLL') }}
            td.mono {{ item.id }}
