<v-row>
  <v-col>
    <h1 class="display-1 mb-2">Game Versions</h1>
    <v-data-table
      :headers="headers"
      :items="elements"
      sort-by="release"
      :sort-desc="true"
      :items-per-page="15"
      class="elevation-1"
      :height="tableHeight"
      dense
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td class="mono">{{ item.identifier }}</td>
            <td>{{ item.release | moment('LLL') }}</td>
            <td class="mono">{{ item.id }}</td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </v-col>
</v-row>
