<v-layout align-space-between justify-start column>
	<h1 class="display-1">Item Prices</h1>
	<v-data-table :headers="headers" :items="elements" :pagination.sync="pagination" class="elevation-1">
		<template slot="items" slot-scope="props">
			<td>{{ props.item.item.name }} ({{ props.item.item.type }})</td>
			<td>
				{{ props.item.location.name }} ({{ props.item.location.type.name }}) - ({{
					props.item.location.parentLocation.name
				}})
			</td>
			<td class="text-md-right">{{ props.item.price.toFixed(2) }}</td>
			<td class="text-md-right">{{ props.item.quantity }}</td>
			<td class="text-md-right">{{ props.item.unitPrice.toFixed(2) }}</td>
			<td>{{ props.item.visibility }}</td>
			<td>{{ props.item.scanTime | moment('LLL') }}</td>
			<td>{{ props.item.type }}</td>
			<td>{{ props.item.scannedBy.username }}</td>
			<td class="mono">{{ props.item.scannedInGameVersion.identifier }}</td>
			<td class="mono">{{ props.item.id }}</td>
		</template>
	</v-data-table>
</v-layout>
