<v-row>
  <v-col>
    <h1 class="display-1">Sign In</h1>
    <v-row>
      <v-col md="5">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row>
            <v-col>
              <v-text-field
                v-model="username"
                :rules="usernameRules"
                label="Username"
                autocomplete="off"
                required
              ></v-text-field>
              <v-text-field
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                :rules="passwordRules"
                label="Password"
                autocomplete="off"
                required
                :append-icon="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                @click:append="showPassword = !showPassword"
              ></v-text-field>
              <v-btn block :disabled="!valid" @click="submit">Sign In</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-col>
</v-row>
