<v-layout align-start justify-start column>
	<h1 class="display-2">Shout Outs</h1>
	<v-container grid-list-md fluid>
		<v-layout row wrap>
			<v-flex style="min-width: 505px" lg5 md6 sm11 xs12>
				<v-card>
					<div class="pa-2">
						<v-img
							src="https://yt3.ggpht.com/UjLOwPyJDQ_y4EBi_s3biuPZNIac9DVbbdCATk4TVha7a0LUoo13T_bHVGJ-8B9aaRh-i78z2mdQyGI=s1121-nd"
							aspect-ratio="1.01326259947"
							max-width="200"
						></v-img>
					</div>
					<v-card-title primary-title>
						<div>
							<h3 class="headline mb-0">KnebelDE</h3>
							<div>
								Supported this website in the following video (15:02):
								<iframe
									width="465"
									height="262"
									src="https://www.youtube.com/embed/65y8GTI6GSI?start=902"
									frameborder="0"
									allow="autoplay; encrypted-media; picture-in-picture"
									allowfullscreen
								></iframe>
							</div>
						</div>
					</v-card-title>
					<v-card-actions>
						<v-btn href="https://www.youtube.com/user/Knebelinolein" target="_blank" color="red accent-4">
							YouTube
						</v-btn>
						<v-btn href="https://www.twitch.tv/knebelde" target="_blank" color="deep-purple">
							Twitch
						</v-btn>
						<v-btn href="https://www.patreon.com/KnebelDE" target="_blank" color="deep-orange">
							Patreon
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</v-layout>
