v-row
  v-col
    h1.display-1.mb-2 Items
    v-data-table.elevation-1(
      :headers="headers",
      :items="elements",
      sort-by="name",
      :items-per-page="15",
      :height="tableHeight",
      dense
    )
      template(v-slot:body="{ items }")
        tbody
          tr(v-for="item in items", :key="item.id")
            td {{ item.name }}
            td {{ item.type }}
            td
              span(v-if="item.inGameSince") {{ item.inGameSince | moment('LLL') }}
            td.mono {{ item.inGameSinceVersion.identifier }}
            td.mono {{ item.id }}
