<v-layout align-space-between justify-start column>
	<h1 class="display-1">Items</h1>
	<v-data-table :headers="headers" :items="elements" :pagination.sync="pagination" class="elevation-1">
		<template slot="items" slot-scope="props">
			<td>{{ props.item.name }}</td>
			<td>{{ props.item.type }}</td>
			<td>
				<span v-if="props.item.inGameSince">{{ props.item.inGameSince | moment('LLL') }}</span>
			</td>
			<td class="mono">{{ props.item.inGameSinceVersion.identifier }}</td>
			<td class="mono">{{ props.item.id }}</td>
		</template>
	</v-data-table>
</v-layout>
