<v-row>
	<v-col>
		<h1 class="display-1 mb-2">Items</h1>
		<v-data-table
			:headers="headers"
			:items="elements"
			sort-by="name"
			:items-per-page="15"
			class="elevation-1"
			dense
		>
			<template v-slot:body="{ items }">
				<tbody>
					<tr v-for="item in items" :key="item.id">
						<td>{{ item.name }}</td>
						<td>{{ item.type }}</td>
						<td>
							<span v-if="item.inGameSince">{{ item.inGameSince | moment('LLL') }}</span>
						</td>
						<td class="mono">{{ item.inGameSinceVersion.identifier }}</td>
						<td class="mono">{{ item.id }}</td>
					</tr>
				</tbody>
			</template>
		</v-data-table>
	</v-col>
</v-row>
