<v-dialog v-model="open" persistent max-width="800px">
	<v-card>
		<v-card-title> <span class="headline">Report Prices</span> </v-card-title>
		<v-card-text>
			<v-container grid-list-md>
				<v-layout row wrap>
					<v-flex md8>
						<v-autocomplete
							v-model="location"
							:items="locations"
							return-object
							:item-text="displayWithLocation"
							label="Location"
							required
						>
						</v-autocomplete>
					</v-flex>
					<v-flex md4>
						<v-autocomplete
							v-model="selectedGameVersion"
							:items="gameVersions"
							return-object
							item-text="identifier"
							label="Game Version"
							required
						>
						</v-autocomplete>
					</v-flex>
					<v-divider></v-divider>
					<v-flex md4>
						<v-autocomplete
							v-model="selectedCommodity"
							:items="commodities"
							:item-text="displayWithCommodity"
							return-object
							label="Commodity"
						>
						</v-autocomplete>
					</v-flex>
					<v-flex md2>
						<v-text-field type="number" min="1" v-model.number="quantity" label="Quantity"></v-text-field>
					</v-flex>
					<v-flex md2>
						<v-text-field
							type="number"
							min="0"
							step="0.01"
							v-model.number="price"
							label="Total Price"
						></v-text-field>
					</v-flex>
					<v-flex>
						<v-btn-toggle v-model="type" mandatory>
							<v-btn color="success" value="BUY">BUY</v-btn>
							<v-btn color="accent" value="SELL">SELL</v-btn>
						</v-btn-toggle>
					</v-flex>
					<v-flex>
						<v-btn color="accent" @click="addItemPrice()" :disabled="invalidCommodity">Add</v-btn>
					</v-flex>
					<v-flex md12>
						<v-data-table
							:headers="headers"
							:items="itemPrices"
							hide-actions
							class="elevation-1"
							:pagination.sync="pagination"
							item-key="id"
						>
							<template slot="items" slot-scope="props">
								<td>{{ props.item.commodity.name }}</td>
								<td>
									<v-edit-dialog :return-value.sync="props.item.quantity" lazy persistent large>
										{{ props.item.quantity }}
										<v-text-field
											type="number"
											min="1"
											slot="input"
											v-model.number="props.item.quantity"
											label="Edit Quantity"
											single-line
										></v-text-field>
									</v-edit-dialog>
								</td>
								<td>
									<v-edit-dialog :return-value.sync="props.item.price" lazy persistent large>
										{{ props.item.price }}
										<v-text-field
											type="number"
											min="0"
											step="0.01"
											slot="input"
											v-model.number="props.item.price"
											label="Edit Price"
											single-line
										></v-text-field>
									</v-edit-dialog>
								</td>
								<td>{{ (props.item.price / props.item.quantity).toFixed(2) }}</td>
								<td>
									<v-btn-toggle v-model="props.item.type" mandatory>
										<v-btn color="success" value="BUY">BUY</v-btn>
										<v-btn color="accent" value="SELL">SELL</v-btn>
									</v-btn-toggle>
								</td>
								<td>
									<v-btn color="warning" flat icon @click="removeItemPrice(props.index)">
										<v-icon>fas fa-minus</v-icon>
									</v-btn>
								</td>
							</template>
						</v-data-table>
					</v-flex>
				</v-layout>
			</v-container>
		</v-card-text>
		<v-card-actions>
			<v-spacer></v-spacer>
			<v-btn color="warning" @click="$emit('close')">Cancel</v-btn>
			<v-btn color="success" @click="reportItemPrices()" :disabled="invalid">Report</v-btn>
		</v-card-actions>
	</v-card>
</v-dialog>
