<v-row>
	<v-col>
		<h1 class="display-1 mb-2">Accounts</h1>
		<v-data-table
			:headers="headers"
			:items="elements"
			sort-by="username"
			:items-per-page="15"
			class="elevation-1"
			dense
		>
			<template v-slot:body="{ items }">
				<tbody>
					<tr v-for="item in items" :key="item.id">
						<td class="mono">{{ item.id }}</td>
						<td>{{ item.username }}</td>
						<td>{{ item.handle }}</td>
						<!-- <td>{{ item.email }}</td> -->
						<td>{{ item.roles.join(', ') }}</td>
					</tr>
				</tbody>
			</template>
		</v-data-table>
	</v-col>
</v-row>
