<v-layout align-start justify-start column>
	<h1 class="display-1">SignUp</h1>
	<v-form ref="form" v-model="valid" lazy-validation style="width: 400px">
		<v-text-field
			v-model="username"
			:rules="usernameRules"
			label="Username"
			hint="The username you use to log into the app later"
			required
		></v-text-field>
		<v-text-field
			v-model="handle"
			:rules="handleRules"
			:counter="50"
			label="Star Citizen Handle"
			required
		></v-text-field>
		<v-text-field v-model="email" :rules="emailRules" label="E-Mail" required></v-text-field>
		<v-text-field
			v-model="confirmEmail"
			:rules="confirmEmailRules"
			label="Confirm E-Mail"
			autocomplete="off"
			required
		></v-text-field>
		<v-btn :disabled="!valid" @click="submit">Sign Up</v-btn>
	</v-form>
	<div>
		<p>{{ errorMessage && errorMessage.message }}</p>
	</div>
</v-layout>
