<v-app dark>
  <v-navigation-drawer v-model="drawer" clipped fixed app>
    <v-list dense>
      <v-list-item to="/trading">
        <v-list-item-action><v-icon>fas fa-chart-bar</v-icon></v-list-item-action>
        <v-list-item-content>Trading</v-list-item-content>
      </v-list-item>
      <v-list-item to="/location">
        <v-list-item-action><v-icon>fas fa-globe</v-icon></v-list-item-action>
        <v-list-item-content>Locations</v-list-item-content>
      </v-list-item>
      <template v-if="currentUser">
        <v-divider></v-divider>
        <v-list-item to="/my-ships">
          <v-list-item-action><v-icon>fas fa-space-shuttle</v-icon></v-list-item-action>
          <v-list-item-content>My Ships</v-list-item-content>
        </v-list-item>
        <v-list-item to="/my-transactions">
          <v-list-item-action><v-icon>fas fa-list</v-icon></v-list-item-action>
          <v-list-item-content>My Transactions</v-list-item-content>
        </v-list-item>
        <template v-if="currentUser.hasRole('ADMIN')">
          <v-divider></v-divider>
          <v-list-group>
            <template v-slot:activator>
              <v-list-item-title>Administration</v-list-item-title>
            </template>
            <v-list-item to="/administration/account">
              <v-list-item-content>Accounts</v-list-item-content>
            </v-list-item>
            <v-list-item to="/administration/game-version">
              <v-list-item-content>Game Versions</v-list-item-content>
            </v-list-item>
            <v-list-item to="/administration/item">
              <v-list-item-content>Items</v-list-item-content>
            </v-list-item>
            <v-list-item to="/administration/item-price">
              <v-list-item-content>Item Prices</v-list-item-content>
            </v-list-item>
            <v-list-item to="/administration/location">
              <v-list-item-content>Locations</v-list-item-content>
            </v-list-item>
            <v-list-item to="/administration/location-type">
              <v-list-item-content>Location Types</v-list-item-content>
            </v-list-item>
          </v-list-group>
        </template>
      </template>
      <v-divider></v-divider>
      <v-list-item to="/shout-out">
        <v-list-item-action><v-icon>fas fa-handshake</v-icon></v-list-item-action>
        <v-list-item-content>Shout Outs</v-list-item-content>
      </v-list-item>
      <div class="text-md-center mt-4">
        <a href="https://robertsspaceindustries.com/fankit" target="_blank">
          <img src="./assets/MadeByTheCommunity_White.png" width="200" />
        </a>
      </div>
    </v-list>
  </v-navigation-drawer>
  <v-app-bar app fixed clipped-left>
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>Star Citizen Trade Market</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <img src="./assets/MadeByTheCommunity_White.png" width="32" />
    </v-btn>
    <!-- <v-btn icon to="/sign-up"><v-icon>fas fa-user-plus</v-icon></v-btn> -->
    <template v-if="!currentUser">
      <v-btn icon to="/sign-up"><v-icon>fas fa-user-plus</v-icon></v-btn>
      <v-btn icon to="/sign-in"><v-icon>fas fa-sign-in-alt</v-icon></v-btn>
    </template>
    <template v-else>
      <span>Sign in as {{ currentUser.username }}</span>
      <v-btn icon @click="signOut"><v-icon>fas fa-sign-in-alt</v-icon></v-btn>
    </template>
  </v-app-bar>
  <v-content>
    <v-container fluid><router-view></router-view></v-container>
  </v-content>
  <v-footer app fixed>
    <span>Copyright &copy; 2018-2019 Christopher Quadflieg aka Shinigami</span>
    <span class="mx-2">|</span>
    <router-link to="/privacy-policy">Privacy Policy</router-link>
    <v-spacer></v-spacer>
    <v-btn href="https://github.com/Shinigami92/star-citizen-trade-market-api" target="_blank" text icon>
      <v-icon>fab fa-github</v-icon>
    </v-btn>
  </v-footer>
</v-app>
