<v-layout align-space-between justify-start column>
	<h1 class="display-1">Locations</h1>
	<v-data-table :headers="headers" :items="elements" :pagination.sync="pagination" class="elevation-1">
		<template slot="items" slot-scope="props">
			<router-link tag="td" :to="'/location/' + props.item.id">
				<span class="cursor-pointer">{{ props.item.name }}</span>
			</router-link>
			<td>{{ props.item.type.name }}</td>
			<td>
				<router-link
					v-if="props.item.parentLocation"
					tag="div"
					:to="'/location/' + props.item.parentLocation.id"
				>
					<span class="cursor-pointer">{{ props.item.parentLocation.name }}</span>
				</router-link>
			</td>
			<td>
				<span v-if="props.item.inGameSince">{{ props.item.inGameSince | moment('LLL') }}</span>
			</td>
			<td class="mono">{{ props.item.inGameSinceVersion.identifier }}</td>
			<td class="mono">{{ props.item.id }}</td>
		</template>
	</v-data-table>
</v-layout>
