<v-dialog v-model="open" persistent max-width="360px">
	<v-card>
		<v-card-title> <span class="headline">Register new Game Version</span> </v-card-title>
		<v-card-text>
			<v-container grid-list-md>
				<v-layout row wrap>
					<v-flex md12>
						<v-text-field
							v-model="identifier"
							:rules="identifierRules"
							label="Identifier"
							counter="18"
							required
						></v-text-field>
					</v-flex>
					<v-flex md12> <p>e.g. 3.0.0-live.695052</p> </v-flex>
					<v-flex md12 v-if="errorMessage">
						<p class="red--text">{{ errorMessage.message }}</p>
					</v-flex>
				</v-layout>
			</v-container>
		</v-card-text>
		<v-card-actions>
			<v-spacer></v-spacer>
			<v-btn color="warning" @click="$emit('close')">Cancel</v-btn>
			<v-btn color="success" @click="create()" :disabled="invalid">Create</v-btn>
		</v-card-actions>
	</v-card>
</v-dialog>
